<div class="messages-list" style="padding-top: .75rem !important">
  <div class="columns is-paddingless is-fullheight">

    <div class="column is-4 is-fullheight is-light-background">
      <%= render 'layouts/user_nav/sub_nav_toggle' %>
      <input type="text" placeholder="Search" class="input is-rounded">

      <div class="card card-message is-primary-background" style="margin-top: 1rem;">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <div class="user-avatar is-small"> </div>
            </div>
            <div class="media-content">
              <p class="title is-6 has-text-white">John Smith</p>
              <p class="subtitle is-7 has-text-grey">Twitter DM</p>
            </div>
            <div class="media-right">
              <span class="is-size-7 has-text-grey">6:18pm</span>
            </div>
          </div>
          <div class="content">
            <span class="is-size-7 has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
        </div>
      </div>

      <div class="card card-message is-primary-background is-active" style="margin-top: 1rem;">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <div class="user-avatar is-small"> </div>
            </div>
            <div class="media-content">
              <p class="title is-6 has-text-white">John Smith</p>
              <p class="subtitle is-7 has-text-grey">Twitter DM</p>
            </div>
            <div class="media-right">
              <span class="is-size-7 has-text-grey">6:18pm</span>
            </div>
          </div>
          <div class="content">
            <span class="is-size-7 has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
        </div>
      </div>

      <div class="card card-message is-primary-background" style="margin-top: 1rem;">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <div class="user-avatar is-small"> </div>
            </div>
            <div class="media-content">
              <p class="title is-6 has-text-white">John Smith</p>
              <p class="subtitle is-7 has-text-grey">Twitter DM</p>
            </div>
            <div class="media-right">
              <span class="is-size-7 has-text-grey">6:18pm</span>
            </div>
          </div>
          <div class="content">
            <span class="is-size-7 has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
        </div>
      </div>

      <div class="card card-message is-primary-background" style="margin-top: 1rem;">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <div class="user-avatar is-small"> </div>
            </div>
            <div class="media-content">
              <p class="title is-6 has-text-white">John Smith</p>
              <p class="subtitle is-7 has-text-grey">Twitter DM</p>
            </div>
            <div class="media-right">
              <span class="is-size-7 has-text-grey">6:18pm</span>
            </div>
          </div>
          <div class="content">
            <span class="is-size-7 has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
        </div>
      </div>

      <div class="card card-message is-primary-background" style="margin-top: 1rem;">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <div class="user-avatar is-small"> </div>
            </div>
            <div class="media-content">
              <p class="title is-6 has-text-white">John Smith</p>
              <p class="subtitle is-7 has-text-grey">Twitter DM</p>
            </div>
            <div class="media-right">
              <span class="is-size-7 has-text-grey">6:18pm</span>
            </div>
          </div>
          <div class="content">
            <span class="is-size-7 has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-8">
      <section class="section">
        <div class="wrap is-light-background">
          <div class="messages-header">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">Send As:</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control has-icons-left">
                    <div class="select is-fullwidth">
                      <select>
                        <option>Direct Message</option>
                        <option>Tweet</option>
                      </select>
                    </div>
                    <div class="icon is-small is-left">
                      <i class="fab fa-twitter"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">From:</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control has-icons-left">
                    <div class="select is-fullwidth">
                      <select>
                        <option>You</option>
                        <option>Coach Jones</option>
                      </select>
                    </div>
                    <div class="icon is-small is-left">
                      <i class="fab fa-twitter"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">To:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="messages-body">
            <div class="message-to">
              <div class="message-ind">
                <img src="https://cmgpbgametimehighschoolbuzz.files.wordpress.com/2017/08/20170802-ale-super-11-gammage-003.jpg" class="message-img" alt="">
              </div>
            </div>
            <div class="message-to">
              <div class="message-ind">
                <p>Looking forward to your visit this weekend, Jake! <a href="#" class="has-text-primary">#gotigers</a></p>
              </div>
            </div>
            <div class="message-from">
              <div class="message-ind">
                <p>Thanks, coach!</p>
              </div>
            </div>
          </div>
          <div class="messages-footer">
            <table class="table is-fullwidth">
              <tbody>
                <tr class="has-text-white">
                  <td colspan="2"><span class="has-text-grey-light">Send From:</span> Coach Charlie</td>
                  <td colspan="2"><span class="has-text-grey-light">Send To:</span></td>
                  <td colspan="2"><span class="has-text-grey-light">Scheduled For:</span></td>
                </tr>
              </tbody>
            </table>
            <div class="level">
              <div class="level-left">
                <p class="has-text-grey-light">Use <a class="tag">Name&nbsp;<i class="fas fa-plus"></i></a> to insert athlete name</p>
              </div>
              <div class="level-right">
                <div class="buttons">
                  <a class="button is-text is-rounded"><i class="far fa-camera"></i></a>
                  <a class="button is-primary is-rounded"><i class="far fa-clock"></i></a>
                  <a class="button is-primary is-rounded">
                    <span class="icon">
                      <i class="fas fa-angle-down"></i>
                    </span>
                    <span>Confirm</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <table>
          <thead>
            <tr>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @messages.each do |message| %>
            <tr>
              <td><%= link_to 'Show', message %></td>
              <td><%= link_to 'Edit', edit_message_path(message) %></td>
              <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>