<div class="messages-list" style="padding-top: .75rem !important">
  <div class="columns is-paddingless is-fullheight">

    <%= render partial: 'inbox_list' %>

    <div class="column is-8">
      <p class="has-text-white">
        Message details
      </p>
    </div>

  </div>
</div>