<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @co_email_grouping.description %>
</p>

<%= link_to 'Edit', edit_co_email_grouping_path(@co_email_grouping) %> |
<%= link_to 'Back', co_email_groupings_path %>
