<%= form_with(model: sms_event, local: true) do |form| %>
  <% if sms_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sms_event.errors.count, "error") %> prohibited this sms_event from being saved:</h2>

      <ul>
      <% sms_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
