<%= render 'email_templates/header', preview_text: 'RecruitSuite Password Reset Request' %>
<h2>Hello <%= @user.first_name %>,</h2>
 <p>You have requested to reset your password.</p>
 <p>To choose a new password, just follow this link: <a href='<%= @url %>'>Password Reset Link</a>.</p>
 Have a great day, and happy recruiting!
<%= render 'email_templates/footer', fine_print: 'If you feel this was sent in error, you can ignore this request as it will expire in 2 hours.', campaign: 'activations', campaign_content: '' %>
