<div class="sub-nav-toggle">
  <span class='fa-stack'>
    <!-- <i class="fas fa-toggle-off fa-2x"></i> <i class="fas fa-toggle-on fa-2x" style="display:none;"></i> -->

    <i class="fas fa-align-left fa-1x icon-flipped" title="Hide sub-menu"></i>
    <!-- <i class="fa fa-eye fa-1x" title="Show sub-menu" style="display:none;"></i> -->
    <i class="fal fa-slash fa-1x hidden-sub-menu" id='slashed-icon' title="Show Sub-menu" style="display:none;"></i>
  </span>
</div>
