<div class="sub_nav">
  <%= render 'layouts/user_nav/sub_nav/athletes' if is_athletes_page %>
  <%= render 'layouts/user_nav/sub_nav/messages' if is_messages_page %>
  <%= render 'layouts/user_nav/sub_nav/media' if is_media_page %>
</div>
