<div class="filters">
  <%= render 'athletes/filters/grad_years' %>

  <%= render 'athletes/filters/states' %>

  <%= render 'athletes/filters/positions' %>

  <%#= render 'athletes/filters/tags' %>

  <%= render 'athletes/filters/form', filter: @filter %>
</div>
