<table width="100%">
  <tr>
    <td
      style="text-align:center; padding: 0 0 16px 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;line-height: 26px; color: #5a6066;">
      <a class="app-badges" href="https://itunes.apple.com/us/app/stackedsports/id705286113?mt=8" target="_blank"><img src="https://res.cloudinary.com/ctv/image/upload/appstore-badge-updated.png" alt="App Store" height="40" style="margin: auto;"></a>
      <a class="app-badges" href="https://play.google.com/store/apps/details?id=com.stackedsports&hl=en" target="_blank"><img src="https://res.cloudinary.com/ctv/image/upload/GooglePlay-Badge-Updated.png" alt="Google Play" height="40" style="margin: auto;"></a>
      <a class="app-badges" href="http://www.amazon.com/gp/product/B017MVYM1C" target="_blank"><img src="https://res.cloudinary.com/ctv/image/upload/Amazon-Badge-Updated.png" alt="Amazon Appstore" height="40" style="margin: auto;"></a>
    </td>
  </tr>
</table>
