<tr style="margin-bottom: 20px;">
  <td style="padding: 0px 0px 20px 0px;">
    <span style="font-weight: bold;">
      <% if conference.present? %>
        <%= conference %>
      <% else %>
        No Conference
      <% end %>
    </span>
  </td>
</tr>
