<tr style="background-color: #3D3D3D; color: #fff;">
  <td width="600" style="padding: 20px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;">
    <div>
      <strong>NONE</strong>
    </td>
  </tr>
